<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="SitecoreApplication.JssYourDataYourWay.ExampleContextExtension, SitecoreApplication" resolve="true">
              <AllowedConfigurations hint="list">
                <!-- Unless you change the Layout Service config used by your JSS app, this should always be present. -->
                <jss>jss</jss>
              </AllowedConfigurations>
              <!--<Applications hint="list">
               --><!-- Restrict the JSS apps for which this processor will execute. --><!--
                <reactApp>defaults</reactApp>
              </Applications>-->
              <!--<Routes hint="list">
                --><!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. --><!--
                <services>/sitecore/content/JssReactWeb/Home/Services*</services>
                <portfolio>{BAD2C001-1746-4312-8422-B28806A1191E}</portfolio>
              </Routes>-->
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>